.cabo-transition {
	display: none;
	justify-content: center;
	align-items: center;
	& > * {
		opacity: 0;
	}
}
.cabo-transition-active {
	animation: page-transition 3s linear forwards;
	& > * {
		animation: page-transition-content 3s linear forwards;
	}
}
@keyframes page-transition {
	0% {
		display: flex;
		opacity: 0;
	}
	20%,
	80% {
		opacity: 1;
	}
	100% {
		display: none;
		opacity: 0;
	}
}
@keyframes page-transition-content {
	30% {
		opacity: 0;
	}
	40%,
	60% {
		opacity: 1;
	}
	70% {
		opacity: 0;
	}
}
