@import "./variables.scss";

$ofset-x: 0.7rem;

.settings-wrapper {
	top: 0;
	right: -100dvw;
	transition: 1s ease-in-out;
}
.settings-wrapper-active {
	right: 0;
}

.settings-layer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #030;
}

.settings-button {
	position: absolute;
	top: 20px;
	background: url(/settings-cog-svgrepo-com.svg);
	aspect-ratio: 1/1;
	transition: 400ms ease-in-out;
	width: $ofset-x;
	filter: invert(90%);
	background-size: contain;
	display: flex;
	justify-content: center;
	align-items: center;
	&::before {
		content: "";
		position: absolute;
		inset: -5px;
		background: #0000;
		border-radius: 20px;
		transition: 400ms ease-in-out;
		filter: none;
	}
	&:hover {
		rotate: 180deg;
	}
	&:active::before {
		background: #d00;
	}
}

.settings-open-button {
	left: ($ofset-x) * -1.7;
}

.settings-close-button {
	right: ($ofset-x) * 0.8;
}
