@import "variables.scss";
@import "mixins.scss";

$button-move-duration: 6s;

.start-page-wrapper {
	& > h1 {
		text-align: center;
	}
	& > .buttons {
		@include display-flex(column, space-between);
		gap: 10px;
	}
}

.join-game {
	animation: move-start-buttons $button-move-duration linear infinite
		alternate;
}

.create-game {
	animation: move-start-buttons $button-move-duration linear infinite
		alternate-reverse;
}

@keyframes move-start-buttons {
	0% {
		background-position: 100% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.start-page-button {
	background: linear-gradient(45deg, #007800, #003e00);
	background-size: 300px 80px;
	color: #0000;
	box-shadow: 0 0 max(40px, 0.3rem) max(10px, 0.05rem) #001b013f;
	font-size: max(16px, 0.1rem);
	&::before {
		transition: 150ms ease-in-out;
		content: "";
		position: absolute;
		inset: 0;
		background-color: #0000;
		border-radius: inherit;
	}
	&::after {
		content: var(--content);
		position: absolute;
		inset: 0;
		color: $main-light-green;
		@include display-flex;
	}
}

.start-page-button:hover::before {
	background-color: #008407;
}

.start-page-button:active::before {
	background-color: #002302;
}

@media (min-width: 550px) {
	.start-page-wrapper .buttons {
		flex-direction: row;
		gap: max(20px, 1rem);
	}
}
