@import "variables.scss";
@import "mixins.scss";
@import "mixin_inlines.scss";

$button-move-duration: 6s;

.start-page-wrapper {
	& > h1 {
		text-align: center;
	}
	& > .buttons {
		@include display-flex(column, space-between);
		gap: 10px;
	}
}

.join-game {
	@include animation(
		move-start-buttons $button-move-duration linear infinite alternate
	);
}

.create-game {
	@include animation(
		move-start-buttons $button-move-duration linear infinite
			alternate-reverse
	);
}

@keyframes move-start-buttons {
	0% {
		background-position: 100% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.start-page-button {
	background: linear-gradient(
		45deg,
		hsl(120, 100%, 24%),
		hsl(120, 100%, 12%)
	);
	background-size: 300px 80px;
	color: #0000;
	@include box-shadow(
		0 0 max(40px, 0.3rem) max(10px, 0.05rem) hsla(122, 100%, 5%, 0.247)
	);
	font-size: max(16px, 0.1rem);
	&::before {
		@include transition(150ms ease-in-out);
		content: "";
		position: absolute;
		inset: 0;
		background-color: #0000;
		@include border-radius(inherit);
	}
	&::after {
		content: var(--content);
		position: absolute;
		inset: 0;
		color: $main-light-green;
		@include display-flex;
	}
}

.start-page-button:hover::before {
	background-color: hsl(120, 100%, 25%);
}

.start-page-button:active::before {
	background-color: hsl(120, 100%, 8%);
}

@media (min-width: 550px) {
	.start-page-wrapper .buttons {
		flex-direction: row;
		gap: max(20px, 1rem);
	}
}
