@import "./scss/mixins.scss";
@import "./scss/mixin_inlines.scss";
@import "./scss/variables.scss";

:root {
	font-size: min(10dvw, 10dvh);
	overflow: hidden;
}

body {
	position: relative;
	background: radial-gradient(circle at 50% 50%, #034f00, #042300);
	height: 100dvh;
	@include display-flex;
	overflow: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lexend Deca";
	color: #daffd0;
}

button {
	border: none;
	cursor: pointer;
}

.display-none {
	display: none;
}

.not-available {
	pointer-events: none;
}

.fade-out-500ms {
	@include transition(0.5s);
	opacity: 0;
}
.fade-out-300ms {
	@include transition(0.3s);
	opacity: 0;
}

.scroller-hidden::-webkit-scrollbar {
	display: none;
}

.ui-button {
	position: relative;
	border-radius: 10px;
	font-size: max(10px, min(30px, 0.5rem));
	padding: max(10px, 0.15rem) max(15px, 0.2rem);
	@include transition(150ms ease-in-out);
}

.light-salad-green-color {
	color: #06c100;
}

.big-cabo-letters {
	font-size: min(3rem, 200px);
}

.layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	@include display-flex;
}

.layer-data-wrapper {
	width: max(250px, 50%);
	font-size: min(16px, 3rem);
	@include display-flex(column, space-between);
	height: max(250px, 70%);
}

.side-layer {
	position: absolute;
	width: 100dvw;
	height: 100dvh;
}

.ui-input {
	padding: max(10px, 0.07rem) max(10px, 0.1rem);
	border: none;
	font-size: max(15px, min(20px, 0.2rem));
	border-radius: max(10px, 0.06rem);
	width: max(150px, 1.2rem);
	&:focus {
		outline: none;
	}

	caret-color: #042300;
}

.ui-button.default-green {
	background: #060;
	color: $main-light-green;
	&:hover {
		background: #080;
	}
	&:active {
		background: #040;
	}
}

.ui-input.default-green {
	background: #060;
	color: $main-light-green;
	caret-color: $main-light-green;
	&::placeholder {
		color: $main-light-green;
	}
}

/*
	Selectors
-----------------------------------------------------------
	Media Queries
*/

@media (min-width: 500px) {
	body .wrapper > .buttons {
		background: red !important;
		gap: max(10px, 0.5rem);
		flex-direction: row;
	}
}
